{% extends 'base.html.twig'%}

{% block add_modal_action %}
    hx-post="{{ path('task_add') }}"
    hx-include="#taskName, #taskTimesheet, #taskInfo, #taskPriority"
{% endblock %}
{% block edit_modal_action %}
    {#hx-post={{ path('submit') }}#}
    hx-include="hx-include="#editTaskName, #editTaskTimesheet, #editTaskInfo, #editTaskPriority"
{% endblock %}
{%block body%}
    <div class="text-5xl text-center font-bold">Aufgabenliste</div>
    <button data-dialog-target="add-modal"
            class="bg-blue-500 text-white px-4 py-2 rounded-full">
        Hinzufügen!
    </button><br/>
      <div class=" pt-8">
        <div class="flex">
            <div class="flex justify-between p-2 border-b">
                <span class="w-[150px]">Name</span>
                <span class="w-[100px]">Zeitraum</span>
                <span class="w-[1100px]">Inhalt</span>
                <span class="w-[100px]">Prioität</span>
            </div>
        </div>
        <ul id="task-list" class="space-y-2">
            {% for task in tasks %}
                <li class="draggable">
                    {% include 'task/task.html.twig' with {'task': task} %}
                </li>
            {% endfor %}
        </ul>
    </div>
{%endblock%}
